<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application
        tools:replace="label,icon,roundIcon"
        android:label="ChatDev"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher" />
</manifest>
